<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.engrz.demo.sharding.jdbc.example.mapper.TLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.engrz.demo.sharding.jdbc.example.entity.TLog">
        <id column="log_id" property="logId" />
        <result column="log_level" property="logLevel" />
        <result column="log_title" property="logTitle" />
        <result column="log_content" property="logContent" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        log_id, log_level, log_title, log_content, create_time
    </sql>

</mapper>
